---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full flex flex-col max-w-[1150px] mx-auto py-16 gap-12 px-8">
    <div class="text-4xl font-medium">Contact me</div>

    <div class="prose prose-invert prose-sm w-full max-w-none"></div>
  </main>
</Layout>
