---
import Layout from "../layouts/Layout.astro";

import { Content as Privacy } from "../content/privacy.md";
---

<Layout title="Privacy policy">
  <main class="w-full flex flex-col max-w-[1150px] mx-auto py-16 gap-12 px-8">
    <h1 class="text-4xl font-medium">Privacy policy</h1>

    <div class="prose prose-invert prose-sm w-full max-w-none">
      <Privacy />
    </div>
  </main>
</Layout>
