---
import Layout from "../layouts/Layout.astro";

import { Content as Terms } from "../content/terms.md";
---

<Layout>
  <main class="w-full flex flex-col max-w-[1100px] mx-auto py-16 gap-12 px-4">
    <div class="text-4xl font-medium">Terms of service</div>

    <div class="prose prose-invert prose-sm w-full max-w-none">
      <Terms />
    </div>
  </main>
</Layout>
