---
import Layout from "../layouts/Layout.astro";

import { Content as Terms } from "../content/terms.md";
---

<Layout title="Terms of service">
  <main class="w-full flex flex-col max-w-[1150px] mx-auto py-16 gap-12 px-8">
    <h1 class="text-4xl font-medium">Terms of service</h1>

    <div class="prose prose-invert prose-sm w-full max-w-none">
      <Terms />
    </div>
  </main>
</Layout>
