version: "3.3"

services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: voyage
      POSTGRES_USER: voyage
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    tmpfs:
      - /tmp

volumes:
  postgres_data:
