---

---

<header
  class="fixed z-40 w-full left-0 top-0 backdrop-blur-lg border-b transition-colors bg-background/50 h-14"
>
  <div
    class="mx-auto w-full max-w-[1400px] h-full flex items-center gap-4 px-6"
  >
    <a href="/" class="flex items-center gap-2 font-semibold px-2">
      <div class="size-4 rounded-full bg-white"></div>
      Tracktrip
    </a>
    <div class="flex-1"></div>
    <a
      href="/docs"
      class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm transition-all shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] text-primary underline-offset-4 hover:underline h-9 px-4 py-2"
    >
      Documentation
    </a>
    <a
      href="/login"
      class="inline-flex items-center justify-center rounded-md text-sm transition-colors duration-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/50 hover:bg-accent hover:text-accent-foreground py-1.5 px-2.5 [&_svg]:size-5 -mx-1 ms-0"
    >
      Login
    </a>
    <a
      href="/signup"
      class="inline-flex items-center justify-center rounded-md text-sm transition-colors duration-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/50 bg-white hover:bg-primary text-primary-foreground py-1.5 px-3.5 [&_svg]:size-5 -mx-1 ms-0"
    >
      Sign up
    </a>
  </div>
</header>
